body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Styling */
.navContainer {
  width: 100%;
  height: 60px;
  top: 0;
  font-weight: bold;
  background-color: #252525;
  color: white;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: filter 0.3s;
  filter: opacity(.3);
}

.navContainer:hover {
  transition: filter 0.3s;
  filter: opacity(1);
}

.nav {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.nav a{
  padding: 2.2% 2%;
  cursor: pointer;
}

.nav a:hover {
  background-color: white;
  color: black;
}

/* Content */
h1 {
  font-size: 2em;
  font-weight: 800;
  color: #252525;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #1A579A;
}

strong {
  font-weight: 560;
}

p {
  font-size: 18px;
}

.container {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sectionHeadline {
  width: 100%;
  height: 30%;
}


/* Main Content */
.mainContainer {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  height: auto;
  display: flex;
  align-items: center;
}

.headline {
  width: 50%;
  text-align: left;
}

.headline div {
  margin: 2% 0;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  width: 200px;
}

/* Projects Conent */
.projectsContainer {
  flex-wrap: wrap;
}

.splitHalf {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.projectLinks {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.projectLinks a{
  text-decoration: none;
  
}

.projectRoutes {
  width: 60%;
}

/* Education Content */
.educationContainer {
  flex-wrap: wrap;
}

.schools {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
}

/* Skills Content */
.skillsContainer {
  flex-wrap: wrap;
}

.skillBoxes {
  height: 60%;
}

/* Achievements Content */
.achievementsContainer {
  flex-wrap: wrap;
}

.achieveBoxes {
  height: 60%;
}

/* Contact Content */
.contactContainer {
  flex-wrap: wrap;
}

.contactContainer form {
  height: 60%;
  width: 100%;
  text-align: center;
}