/* Container Styling */

.navContainer {
  position: sticky;
}

.mainContainer {
  height: 100vh;
  text-align: center;
  color: white;
  background-color: red;
}

.educationContainer {
  height: 100vh;
}